.userWelcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.userWelcome strong {
    font-size: 28px;
    font-weight: lighter;
    letter-spacing: 3px;
    color: rgb(116, 116, 116);
}

.logoutButton {
    background: none;
    border: none;
    margin-top: 5px;
}

.logoutButton:hover {
    background-color: rgba(0,0,0,.2);
    color: white;
    border-radius: 5px;
}

.socialLinks {
    display: flex;
    justify-content: space-between;
    text-decoration: none;
}

.socialLinks a {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    text-decoration: none;
    color: rgb(168, 168, 168);
    /* font-size: 20px; */
}

.socialLinks span {
    margin-left: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
