.followImage {
    width: 65px;
    height: auto;
    cursor:pointer;
}

.followingContainer {
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    margin-left: 15px;
    margin-bottom: 5px;
}

.lastListenText {
    margin: 0;
    font-size: 12px;
    color: grey;
}

.lastListenAlbumTitle {
    margin: 0;
    font-size: 12px;
    color: rgb(189, 189, 189)
}

.followedUserName {
    margin-top: 1px;
    margin-bottom: 1px;
    letter-spacing: 1px;
    color: rgb(228, 228, 228);
}


.followButton {
    font-size: 10px;
    background: none;
    color: rgb(170, 170, 170);
    border: none;
    background-color:rgba(0,0,0, .2);
    border-radius: 5px;
    cursor:pointer;
}


.friendsText {
    margin-top: 5px;
    margin-left: 10px;
    color: rgb(212, 212, 212);
    font-weight: lighter;
}

.followInfoContainer {
    margin-left: 10px
}

.searchFriendsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.searchFriendsInputField {
    width: 75%;
    height: 20px;
    background-color: black;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: rgb(221, 221, 221);
}


.followLastPlayButton {
    background: none;
    border: none;
}

.searchFriendsDiv button {
    color: black;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor:pointer;
}

.searchFriendsDiv button:hover {
    /* background-color: rgba(0,0,0, .2); */
    color: white;
}


.friendSearchReturn {
    margin-left: 30px;
    margin-top: 15px
}

.lastPlayContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.lastPlayContainer .after {
    position:absolute;
    font-size: 25px;
    display: none;
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 5px 0 15px;
    border: none;
    background: none;
}

.lastPlayContainer:hover .after {
    display: block;
    /* background: rgba(0, 0, 0, .4); */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 100%;
    cursor:pointer;
}
