body {
    background-color: rgb(28, 37, 80);
}

.homeParent {
    display: grid;
    grid-template-columns: 2fr, 1fr, 1fr;
    grid-template-areas:
        "logo images images"
        "login images images";
    /* flex-direction: column; */
    /* align-items: center; */
}

.loginSignupButtons {
    grid-area: login;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    position:relative
}

.loginFormForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
}

.loginSignupContainer {
    grid-area: login;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.emailDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.passwordDiv {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.homeParent h1 {
    margin: 0;
    font-size: 150px;
    letter-spacing: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(17, 17, 17);
    font-weight: bold;
    text-shadow: -1px 0 rgb(187, 116, 58), 0 1px rgb(187, 116, 58), 1px 0 rgb(187, 116, 58), 0 -1px rgb(187, 116, 58);
}

.flameRecordLogin {
    height: 110px;
    width: 110px;
    border: 2px solid rgb(187, 116, 58);
    border-radius: 100%;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .logoDiv {
    grid-area: logo;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
  }

  .logoDiv h4 {
      margin-top: 0px;
      color: rgb(184, 184, 184);
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      font-size: 40px;
      font-weight: lighter;
      letter-spacing: 3px;
      margin-bottom: 0px;
  }

  .loginSignupButtons {
      color: white;
      background-color: black;
      border: none;
      border-radius: 2px;
      font-size: 16px;
      width: 70px;
      padding: 4px;
  }

  .loginSignupButtonsDiv {
      display: flex;
      flex-direction: row;
  }

  .loginSignupButtons:hover {
      background-color: rgb(58, 57, 57);
  }

  .loginFormForm input {
      background-color: black;
      color: rgb(221, 221, 221);
      padding-left: 10px;
      font-size: 16px;
      margin-top: 5px;
      margin-bottom: 5px;
  }

  .submitLogin {
      background-color: rgb(61, 61, 61);
      color: rgb(214, 212, 212);
      border: none;
      border-radius: 5px;
      font-size: 14px;
      margin-top: 5px;
      width: 70px
  }

  .submitLogin:hover {
      background-color: rgb(54, 54, 54);
      color: white;
  }

  .collage {
      grid-area: images;
      background-color: black;
      border-radius: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding-top: 10px;
      padding-bottom: 10px;
      height: 100%;
      width: 100%;
  }

  .collage img {
      /* height: 93vh; */
      width: 550px;

  }
