body, html {
    width: 100%;
    height: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.mainInner::-webkit-scrollbar, .mainPlayListContainer::-webkit-scrollbar {
    display: none;
}

.mainContainer {
    display: grid;
    /* margin-left: 20px;
    margin-right: 20px; */
    grid-template-columns: 1fr 2.6fr 1fr;
    grid-template-rows: 1fr, 2fr, 1fr;
    grid-template-areas:
        "user topAlbums session"
        "playlists inner friends"
        "player player player";
    /* height: 100vh; */
}

.userNameLogout {
    grid-area: session;
    margin-top: 0px;
    min-height: 20vh;
    max-height: 20vh;
    padding-left: 20px;
    border-right: 1px solid black
}

.mainSearchCreatePlaylist {
    grid-area: user;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 20vh;
    max-height: 20vh;

}

.mainSearchCreatePlaylist h3 {
    margin: 0;
    font-size: 47px;
    letter-spacing: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:rgb(17, 17, 17);
    font-weight: bold;
    text-shadow: -1px 0 rgb(187, 116, 58), 0 1px rgb(187, 116, 58), 1px 0 rgb(187, 116, 58), 0 -1px rgb(187, 116, 58);
}

.flameRecord {
    height: 35px;
    width: 35px;
    border: 2px solid rgb(187, 116, 58);
    border-radius: 100%;
    animation: rotation 4s infinite linear;
}

@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .displaySearchButton {
      border: none;
      background: none;
      color: rgb(194, 194, 194);
      border-bottom: 2px solid black;
      margin-bottom: 6px;
      margin-top: 0px;
      padding-bottom: 4px;
      padding-top: 4px;
      font-size: 17px;
  }

  .displaySearchButton:hover {
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 5px;
    color: white;
  }

  .searchIcon {
      margin-right: 2px;
  }

.mainPlayListContainer {
    grid-area: playlists;
    min-height: 58vh;
    max-height: 58vh;
    max-width: 100%;
    min-width: 250px;
    border-right: 1px solid black;
    overflow:auto;
    overflow-wrap: break-word;
    /* padding-top: 20px; */
}

.mainPlaylistForm {
    margin-bottom: 20px;
}

.mainUsersList {
    grid-area: friends;
    max-width: 250px;
    min-width: 200px;
    border-left: 1px solid black;
}

.mainPlayer {
    grid-area: player;
    border-top: 1px solid black;
    max-height: 21.8vh;
    min-height: 21.8vh;
    overflow:hidden;
    background-color: rgb(40, 51, 102);
}

.mainInner {
    grid-area: inner;
    background-image: url("./turntable.jpg");
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 58vh;
    overflow-y: scroll;
}

.scrollable-element {
    scrollbar-color: red yellow;
  }

.mainTopAlbums {
    grid-area: topAlbums;
    background-color: rgb(40, 51, 102);
    border-bottom: 1px solid black;
    min-height: 20vh;
    max-height: 20vh;
}

.albumImage {
    width: 125px;
    height: 125px;
}

.playingAlbumImage {
    display: flex;
    width: 250px;
    height: 250px;
    border: 5px solid black;
}

.playlistCrateImage {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}

.playlistContainer {
    display: flex;
    align-items: center;
    padding-right: 5px;
    margin-top: 6px;
    /* width: 100%; */
}

.playlistContainer:hover {
    background-color: rgba(0, 0, 0, 0.18);
    border-radius: 10px;
}


.playlistButton {
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    color: white;
    margin-left: 20px
}

.deletePlaylist {
    width: 38px;
    font-size: 8px;
    background-color: rgba(0, 0, 0, 0.18);
    border: none;
    border-radius: 5px;
    color: rgb(153, 153, 153);
    margin-left: 40px;
}

.deletePlaylistConfirmationContainer {
    z-index: 100;
    width: 100%;
    height: 100%;
    padding-top: 0px;
    display: flex;
    flex-direction: column;
    top: 0;
    position:fixed;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: rgb(233, 233, 233);
    font-size: 30px;
}

.deletePlaylistConfirmationContainer button {
    width: 100px;
    height: 30px;
    margin-bottom: 8px;
    background-color: rgb(192, 192, 192);
}

.deletePlaylistConfirmationContainer button:hover {
    transform: scale(1.03);
    background-color: rgb(206, 207, 207);
}

.playContainer h4 {
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: .5px;
    /* display: flex;
    left: 0 */
}

.playlistAlbumButton {
    background-color: black;
    border-radius: 5px;
    border: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(219, 219, 219);
    font-size: 10px;
    padding: 5px ;
    margin-left: 25px;
    margin-top: 10px;
}

.playlistAlbumButton:hover {
    background-color: rgb(19, 19, 19);
    transform: scale(1.01);
}

.playlistAlbumButton text {
    margin-top: 2px;
    margin-bottom: 1px;
}

.removeFromPlaylist {
    color: rgb(207, 207, 207);
    background-color: rgb(39, 39, 39);
    font-size: 10px;
    display: flex;
    border: none;
    border-radius: 20px;
    margin-top: 2px;
    margin-left: 25px;
    margin-bottom: 10px;
}

.removeFromPlaylist:hover {
    background-color: black;
}

.playlistAlbumsContainer {
    display: flex;
    flex-wrap: wrap;

    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.playlistAlbumsContainer h1 {
    width: 100%;
    margin-left: 20px
}

.currentPlayingAlbum {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
    background-color: black;
    padding-bottom: 5px;
    border-radius: 5px;
    color: rgb(223, 223, 223);
}

.currentPlayingAlbum h2 {
    margin: 0px;
}

.currentPlayingAlbum h3 {
    margin: 0px;
    color: grey;
    margin-top: 5px;
}

.mainSearchFormContainer {
    padding-top: 5px;
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
}

.mainSearchFormContainer button {
    border:none;
    background: none;
    font-size: 35px;
    color: rgb(199, 199, 199);
    display: flex;
    align-content: flex-start;
    margin-bottom: 4px;

}

.exitSearchButtonDiv {
    display: flex;
    align-content: flex-start;
    width: 100%;
    margin: 0px;
}
